<body id="bg">
    <div id="h-1">
        <h1>WELCOME TO WILDLIFE TRACKER</h1>
    </div>
    <div class="text-center">
        
        <a href="/homepage" class="btn btn-success">Click Here to Get Started</a>
</body>